
img {
  border-radius: 50%;
}

.stretch {
  dispaly: flex;
  flex-direction:  column;
  min-height: 100vh;
}

#message-board {
  border: 2px solid black;
  margin: 5%;
  min-height: 500px;
  /*margin: 20% 5%;*/
  padding: 5%;
  flex: 1;
  overflow: scroll;

}

.deleteButton {
    border-radius: 5px;
}

input {
    margin-right: 5px;

}
.theBody, .addDarkTheme {
  background-color: black;
  color: white;
}

.message-heading {
  margin-top: 13%;
}

#navTheme {
  margin-bottom: 10%;
