
img {
  border-radius: 50%;
}


#message-board {
  border: 2px solid black;
  margin: 5%;

}

.deleteButton {
    border-radius: 5px;
}

.theBody, .addDarkTheme {
  background-color: black;
  color: white;
}
